# Imports

In [1]:
# utils contains configuration and scripts to interface with the Twitter API
# PullTwitterAPI is the full python interface for the package
from pull_twitter_api import TwitterPullConfig, PullTwitterAPI

import os
import twitteralchemy as twalc

# Configuration

Config for the api queries can either be passed as a file path to a yaml file, or as a TwitterPullConfig  object

## File path

In [2]:
config_path = './configs/timeline_config_ex.yaml'

In [3]:
pt_api = PullTwitterAPI(config_path = config_path)

## Config Object

config = TwitterPullConfig.from_file(config_path)

pt_api = PullTwitterAPI(config = config)

# API Query Calls

In [4]:
handle_csv = './data/celeb_handle_test_short.csv'
id_csv     = './data/celeb_id_test.csv'

## Lookup Example

In [5]:
tl_config = './configs/search_config_ex.yaml'
pt_api.load_config(config_path = tl_config)

In [ ]:
response = pt_api.lookup(id_csv = id_csv,
                id_col = 'id')

Rate limit exceeded. Sleeping for 322 seconds.

Pulling tweet results for 19 ids.
Calling Lookup Tweets

## Timeline Example

This example collects the full timelines for a set of users. The response is structured slightly differently, holding a set of tweet responses representing each user rather than a single response.

In [8]:
tl_config = './configs/timeline_config_ex.yaml'
pt_api.load_config(config_path = tl_config)

In [9]:
response = pt_api.timelines(user_csv = handle_csv,
                handle_column = 'handle')

Processing handle 1/3
Pulling timeline for handle beyonce.
Successfully retrieved user_id 31239408 for @beyonce.
Collected 19 tweets for handle beyonce
------------------------------
Processing handle 2/3
Pulling timeline for handle justinbeiber.
Failed to get user id for justinbeiber
Failed to pull timeline for handle justinbeiber. Error:  'NoneType' object has no attribute 'id'
Processing handle 3/3
Pulling timeline for handle taylorswift13.
Successfully retrieved user_id 17919972 for @taylorswift13.
Collected 716 tweets for handle taylorswift13
------------------------------

In [10]:
response.timelines['taylorswift13'].df_tweets

,id,text,author_id,conversation_id,created_at,in_reply_to_user_id,lang,public_metrics_retweet_count,public_metrics_reply_count,public_metrics_like_count,public_metrics_quote_count,possibly_sensitive,reply_settings,source
0,1485714267269738498,PS I wrote this tweet all by myself in case yo...,17919972,1485714265675812866,2022-01-24 20:40:59+00:00,17919972,en,85184,11082,712933,39604,False,everyone,Twitter for iPhone
1,1485714265675812866,@DamonAlbarn I was such a big fan of yours unt...,17919972,1485714265675812866,2022-01-24 20:40:58+00:00,531750633,en,117159,21855,727525,56340,False,everyone,Twitter for iPhone
2,1470506710901084162,"*don’t say it, don’t say it OKAY I’m saying it...",17919972,1470506710901084162,2021-12-13 21:31:35+00:00,None,en,104161,31860,612858,22541,False,everyone,Twitter for iPhone
3,1463277431700262915,NO PROBLEMS TODAY JUST CHAMPAGNE🥂 I wanted to ...,17919972,1463277431700262915,2021-11-23 22:45:00+00:00,None,en,84395,13627,404821,23401,False,everyone,Twitter for iPhone
4,1462908811107307533,THANK YOU to the team that made All Too Well (...,17919972,1462908807034679303,2021-11-22 22:20:14+00:00,17919972,en,13792,1068,169536,380,False,everyone,Twitter for iPhone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,900923703424413696,New single #LookWhatYouMadeMeDo out now. Pre-o...,17919972,900923703424413696,2017-08-25 03:32:03+00:00,None,en,58892,6071,154784,11152,False,everyone,Twitter for iPhone
12,900399489126629377,https://t.co/xMBBukfZPs,17919972,900399489126629377,2017-08-23 16:49:01+00:00,None,und,142856,16963,354735,58857,False,everyone,Twitter for iPhone
13,900357555289034752,https://t.co/xqhhDZ0y7c,17919972,900357555289034752,2017-08-23 14:02:23+00:00,None,und,48922,7800,161127,19786,False,everyone,Twitter for iPhone
14,900010249163112450,https://t.co/12Rfi8bso4,17919972,900010249163112450,2017-08-22 15:02:19+00:00,None,und,44286,7716,146479,13804,False,everyone,Twitter for iPhone
15,899647503859032065,https://t.co/p2DyY0e2M3,17919972,899647503859032065,2017-08-21 15:00:54+00:00,None,und,67387,18838,202367,41044,False,everyone,Twitter for iPhone

In [20]:
response.save()

Saving results to  C:\Users\ndeas\Documents\GitHub\twitter_timeline\data\celeb_output_test/timeline/2022-02-09 12.55.21

## User Example

This example collects information about a set of users, and saves the response after the request

In [21]:
us_config = './configs/user_config_ex.yaml'
pt_api.load_config(config_path = us_config)

In [22]:
response = pt_api.users(user_csv = handle_csv,
                handle_column = 'handle',
                       auto_save = True)

Saving results to  C:\Users\ndeas\Documents\GitHub\twitter_timeline\data\celeb_output_test/user/2022-02-09 12.55.34
Pulling user information from given handles
Collected 2 users

In [9]:
response.df_users.head()

,id,name,username,created_at,description,location,pinned_tweet_id,profile_image_url,protected,public_metrics_followers_count,public_metrics_following_count,public_metrics_tweet_count,public_metrics_listed_count,url,verified
0,31239408,BEYONCÉ,Beyonce,2009-04-14 21:56:04+00:00,,None,NaN,None,None,15473955,10,19,32629,None,None
1,17919972,Taylor Swift,taylorswift13,2008-12-06 10:10:54+00:00,"Happy, free, confused and lonely at the same t...",None,1.459024e+18,None,None,89982893,0,716,113560,None,None

In [7]:
response.save()

Saving results to  C:\Users\ndeas\Documents\GitHub\twitter_timeline\data\celeb_output_test/user/2022-02-04 23.18.51

## Search Example

This example collects tweets matching a specified search query and exemplifies the use of the auto save feature

In [11]:
se_config = './configs/search_config_ex.yaml'
pt_api.load_config(config_path = se_config)

In [12]:
search_results = pt_api.search('covid-19', auto_save = True)

Saving results to  C:\Users\ndeas\Documents\GitHub\twitter_timeline\data\celeb_output_test/search/2022-02-04 23.22.02
Pulling tweet results using 'covid-19' search query.
Collected 100 tweets for query: covid-19

In [13]:
search_results.df_tweets.head()

,id,text,author_id,conversation_id,created_at,in_reply_to_user_id,lang,public_metrics_retweet_count,public_metrics_reply_count,public_metrics_like_count,public_metrics_quote_count,possibly_sensitive,reply_settings,source
0,1489816517638500354,6 Hoaks Terkini Seputar Covid-19.\nYuk Disipli...,1208926668695339008,1489816517638500354,2022-02-05 04:21:51+00:00,None,in,0,0,0,0,False,everyone,Twitter for Android
1,1489816517277593601,RT @Mounotella: Le nombre d'hospitalisations p...,1189461676380315649,1489816517277593601,2022-02-05 04:21:51+00:00,None,fr,192,0,0,0,False,everyone,Twitter for iPad
2,1489816516967206918,"RT @NellyRSF27: BOMBE La Fondation Trudeau, in...",452567514,1489816516967206918,2022-02-05 04:21:51+00:00,None,fr,2,0,0,0,False,everyone,Twitter Web App
3,1489816516916776961,RT @PJM_data: Jimin Twitter Trends | South Kor...,1413551116978065410,1489816516916776961,2022-02-05 04:21:51+00:00,None,en,580,0,0,0,False,everyone,Twitter for Android
4,1489816515931168769,RT @CoronavirusNewv: 🌍 | MUNDO\n\nVarios paíse...,171498377,1489816515931168769,2022-02-05 04:21:51+00:00,None,es,63,0,0,0,False,everyone,Twitter for iPhone

### Random Testing

In [15]:
class Parent(object):
    
    def __init__(self):
        self.a = 1
        
    @staticmethod
    def stat(a, b):
        return a + b
    
class Child(Parent):
    
    def __init__(self):
        super(Child, self).__init__()
        self.b =2
    
    def get_stat(self):
        return Parent.stat(self.a, self.b)

In [16]:
child = Child()

In [17]:
child.get_stat()

3